# Environment variables
*.env

# Ignore SQLite database files
*.sqlite3
*.db
*.sqlite3-journal

# Dynamic configuration files
config/groups.json
config/user_settings.json

# Logs
*.log
logs/*
!logs/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/